<html>
<head>
  <title>Price Depth</title>
  <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
<!--
  <script type="text/javascript" src="/js/socket.io.min.js"></script>
  -->
<!-- -->

  <script type="text/javascript" src="/js/kkai-add00.js"></script>
  <script type="text/javascript" src="/js/kkai-dev11.js?version={{ dev_js11_ver }}"></script>
  <script type="text/javascript" src="/js/kkai-dev21.js?version={{ dev_js21_ver }}"></script>
  <script type="text/javascript" src="/js/kkai-dev22.js?version={{ dev_js22_ver }}"></script>
<style>
body {
  background-color: #1F1F1F;
  color: #BFBFBF;
}
.div-dep-left  {
  float: left;
  width: 49.8%;
  height: 92%;
  background-color: green;
}
.div-dep-right {
  float: right;
  width: 49.8%;
  height: 92%;
  background-color: red;
}
</style>
<body>
<!-- -->
  <h3>Output log1</h3>
  <pre id="log_out1">init(html) log1</pre>
<!-- -->
  <button id="_ui_test01" onclick="_onUI_Test01()">Test01</button><br/>
  <button id="_ui_test02" onclick="_onUI_Test02()">Test02</button><br/>
  <div id="container-dep">
    <div id="dep-book-P3"></div>
    <div id="dep-book-P2"></div>
    <div id="dep-book-P1"></div>
    <div id="dep-book-P0"></div>
  </div>
<!-- -->
  <h3>Output log2</h3>
  <pre id="log_out2">init(html) log2</pre>
<script type="text/javascript">
// DepthView code: javascript
  $('#log_out1').html('init(js) log_out1');
  $('#log_out2').html('init(js) log_out2');

</script>
  <script type="text/javascript" src="/js/kkai-dev29.js?version={{ dev_js29_ver }}"></script>
<!-- -->
<script type="text/javascript">
$(function () { 
    cbEV_OnDocReady_highcharts();
    cbEV_OnDocReady_websocket();
});
</script>
</body>
<!-- -->
</html>

